body {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 400px;
  margin: auto;
}

select, input, button {
  margin: 10px 0;
  padding: 8px;
  width: 80%;
  font-size: 1rem;
  border-radius: 5px;
}

.summary {
  margin-top: 20px;
  font-weight: bold;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

li span {
  flex: 1;
}

button.delete-btn {
  background-color: #7e0f00;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9rem;
  width: 100px;
}

*{
    color: rgb(0, 0, 0);
    background-color: rgb(224, 214, 214);
    font-family: Core;
}

@font-face {
    font-family: Core;
    src: url('CoreNaraePro.ttf');
  }

@media screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 1.4rem;
  }
}

